<!--<html>-->
<!--<head>-->
<!--<title>login-->
<!--</title>-->
<!--</head>-->
<!--<body>-->
<!--<br>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<br>-->
<!--<br>-->
<!--<form action="/login" method="post">-->
<!--用户名：<input type="text" name="username">-->
<!--密码：<input type="password" name="password">-->
<!--<input type="submit" value="登录">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>





<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<input name="HIGHLIGHTS" id="text1" type="text" onblur="text()" size="30"  placeholder="亮点" style="width: 100%" >
<input name="HIGHLIGHTS" id="text2" type="text" onblur="text()" size="30"  placeholder="亮点" style="width: 100%" >
<input name="HIGHLIGHTS" id="text3" type="text" onblur="text()" size="30"  placeholder="亮点" style="width: 100%" >
<input name="HIGHLIGHTS" id="text4" type="text" onblur="text()" size="30"  placeholder="亮点" style="width: 100%" >
<input name="HIGHLIGHTS" id="text5" type="text" onblur="text()" size="30"  placeholder="亮点" style="width: 100%" >

<input name="text" type="text" id="hidden">
</body>

<script>
    function text() {
        var a = document.getElementById("text1").value;
        var b = document.getElementById("text2").value;
        var c = document.getElementById("text3").value;
        var d = document.getElementById("text4").value;
        var e = document.getElementById("text5").value;
        var hidden = document.getElementById("hidden").value;
        var s = hidden.split(",");
            if (s[0] == a) {
                a = s[0];
            }
            else {
                a = document.getElementById("text1").value;
            }
            if (s[1] == b) {
                b = s[1];
            }
            else {
                b = document.getElementById("text2").value;
            }
            if (s[2] == c) {
                c = s[2];
            }
            else {
                c = document.getElementById("text3").value;
            }
            if (s[3] == d) {
                d = s[3];
            }
            else {
                d = document.getElementById("text4").value;
            }
            if (s[4] == e) {
                e = s[4];
            }
            else {
                e = document.getElementById("text5").value;
            }
        document.getElementById("hidden").value = a + "," + b + "," + c + "," + d + "," + e;
    }
</script>


