<ul class="top-destinations">
    <li class="col-sm-6 col-md-3 top-destination">
        <a class="image-box attractions-image-box image-box-v2" href="/spot/1111">
            <figure class="image-box-figure">
                <img class="image-box-picture" src="/uploads/source/c718a66b-611d-4606-a8b5-8d820ab170fa_s.jpg" alt="艾菲尔铁塔"
                     onerror="this.parentNode.parentNode.className+=' missing-image'"/>
                <figcaption class="image-box-caption">
                    <div class="image-box-label">
                        <div class="image-box-label-title">艾菲尔铁塔</div>
                    </div>
                </figcaption>
            </figure>
        </a>
    </li>
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="vatican-museums-l2738/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2738-76056559-87.jpg" alt="梵蒂冈博物馆"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">梵蒂冈博物馆</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="musee-du-louvre-l3224/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-3224-167783222-87.jpg" alt="卢浮宫"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">卢浮宫</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="sagrada-familia-l2699/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2699-2484238658-87.jpg" alt="圣家族大教堂"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">圣家族大教堂</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="burj-khalifa-l2703/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2703-2946705231-87.jpg" alt="哈利法塔"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">哈利法塔</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="empire-state-building-l2608/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2608-1408440906-87.jpg" alt="帝国大厦"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">帝国大厦</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="anne-frank-house-l2697/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2697-3153490397-87.jpg" alt="安妮弗兰克故居"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">安妮弗兰克故居</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="colosseum-l2619/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2619-3881492833-87.jpg" alt="斗兽场"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">斗兽场</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination top-destination&#45;&#45;hidden">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="santa-maria-delle-grazie-l3586/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-3586-2421728664-87.jpg" alt="圣玛丽亚感恩教堂"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">圣玛丽亚感恩教堂</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination top-destination&#45;&#45;hidden">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="alhambra-l2772/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2772-2027463805-87.jpg" alt="阿罕布拉市"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">阿罕布拉市</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination top-destination&#45;&#45;hidden">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="machu-picchu-l1570/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-1570-2696395330-87.jpg" alt="马丘比丘"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">马丘比丘</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination top-destination&#45;&#45;hidden">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="alcatraz-l535/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-535-4153659323-87.jpg" alt="恶魔岛"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">恶魔岛</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination top-destination&#45;&#45;hidden">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="leaning-tower-of-pisa-l2975/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-2975-3290552308-87.jpg" alt="比萨斜塔"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">比萨斜塔</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="col-sm-6 col-md-3 top-destination top-destination&#45;&#45;hidden">-->
        <!--<a class="image-box attractions-image-box image-box-v2" href="seaworld-orlando-l3849/index.html">-->
            <!--<figure class="image-box-figure">-->
                <!--<img class="image-box-picture" src="/img/location_img-3849-3791135426-87.jpg" alt="奥尔兰多海洋世界"-->
                     <!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
                <!--<figcaption class="image-box-caption">-->
                    <!--<div class="image-box-label">-->
                        <!--<div class="image-box-label-title">奥尔兰多海洋世界</div>-->
                    <!--</div>-->
                <!--</figcaption>-->
            <!--</figure>-->
        <!--</a>-->
    <!--</li>-->
</ul>


