
<!DOCTYPE html>
<html lang="zh" class="no-js responsive capped-width">
<head>
    {{range .posts}}
    <meta charset="utf-8"/>
    <title>{{ .NAME }}</title>
    <script>dataLayer = []; dataLayer.push({"topActivities":[44575,51123,48670],"user":{"customer_id":"","is_logged_in":false,"is_staff":false,"gyg_office":false,"hashed_email":""}}); </script>
</head>
<body>

            <section class="highlighted-top-tour">
                <div class="heading">
                    立刻取得门票
                </div>
                <article id="t44575" class="activity-card activity-card-horizontal
has-banner
">
                    <div class="activity-card-content">
                        <a class="activity-card-link" href="/">
                            <div class="activity-card-image-container">
                                <img src="/{{ .IMAGEPATH }}/source/{{ .IMAGENAME }}_s.{{ .IMAGEFORMAT }}" data-role="cover" alt="" />
                            </div>
                            <div class="activity-card-details">
                                <header class="activity-card-header">
                                    <h3 class="activity-card-title">
                                        {{ .NAME }}免排队门票（含顶层）
                                    </h3>
                                    <div class="activity-rating">
<span class="rating" title="评分: 4,4 / 5">
<span class="rating-stars s40"></span>
<span class="rating-total">2654评论</span>
</span>
                                    </div>
                                </header>
                                <p class="activity-small-description"> {{ .LABEL }}</p>
                                <div class="activity-info activity-duration">
<span class="activity-info-label activity-duration-label">
时间:
</span>
<span class="activity-info-value activity-duration-value">
2 小时
</span>
                                </div>
                            </div>
                            <div class="activity-card-actions">
                                 
                                <div class="wishlist-handler" data-role="wishlist-handler" data-id="44575">
                                    <div data-action="add-to-wishlist" class="add-to-wishlist action-handler">
<span class="action-label">
<span class="action-label-text">加入心愿单</span>
</span>
                                        <span class="icon-heart"></span>
                                    </div>
                                    <div data-action="remove-from-wishlist" class="remove-from-wishlist action-handler hide">
<span class="action-label">
<span class="action-label-text">从心愿单删除</span>
</span>
                                        <span class="icon-heart"></span>
                                    </div>
                                </div>
                                <div class="activity-badge is-bestseller">
                                    <span> {{ .LEVEL }}</span>
                                </div>
                                <div class="activity-card-price-tag">
                                    <span class="from">起价</span>
<span class="price">
RMB¥&nbsp; {{ .PRICE }}
</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>
            </section>



            <div class="row">
                <header class="col-sm-12">
                    <h1>{{ .NAME }}：旅游项目及门票</h1>
                </header>
            </div>
            {{end}}
            <section class="top-activities">
                <!--<div class="activities-list " data-role="activities-list" id="hot-package">-->

                <!--</div>-->



                <div class="col-sm-12">
<span class="btn btn-primary btn-small btn--view-all-tours view-all-tours-margin"
      onclick="window.location='http://www.getyourguide.com/zh/s/?q=%E8%89%BE%E8%8F%B2%E5%B0%94%E9%93%81%E5%A1%94&amp;lc=l2600';">
查看艾菲尔铁塔所有旅游项目与旅游活动
</span>
                </div>
            </section>

            <!--//copy from main.tmpl-->
            <section id="top-destinations-container" class="container top-destinations-container">

                <div class="top-destinations-row" id="hot-package">
                    <!-- 放热门地址-->
                </div>

            </section>


            <a class="location-banner-container city-banner-link" href="http://www.getyourguide.com/zh/paris-l16/">
<span class="parent-link" data-background="//cdn2.getyourguide.com/img/location_img-16-965832478-75.jpg">
<span class="darken-background"></span>
</span>
                <p class="parent-link-title">巴黎</p>
<span class="btn btn-primary btn-small">
查看全部 133 项门票与旅游
</span>
            </a>
            <section data-role="poi-reviews-section" data-length="0" class="off">
                <div data-role="poi-reviews">
                    <div class="title">
                        <h2>有关 艾菲尔铁塔 的旅客建议</h2>
                    </div>
                    <div data-role="poi-reviews-container"></div>
                </div>
                <script id="review-template" type="text/template">
                    <section class="review-column">
                        <div class="review-item">
                            <div class="row review-headline">
                                <div class="rating-container">
                                    <span class="rating-stars s<%- ratingScore %>"></span>
                                </div>
                                <h3><%- title %></h3>
                            </div>
                            <div class="row review-text review-text-highlight"><%- message %></div>
                            <div class="row review-text review-text-details">
                                <a href="<%- item.url %>"><%- item.title %></a>
                                <span class="reviewed-by">评论人</span> <strong><%= author
                                %>,</strong> <%- date %>
                            </div>
                        </div>
                    </section>
                </script>
            </section>
</body>
</html>

<script src="/js/site.js"></script>

<script type="application/javascript">
    +function ($) {
        $(function () {
			alert(1);
//            $('#hot-package').empty().load('/main/package?date='+new Date().getTime());
        })}(jQuery);
</script>