<header></header>
<br>
<br>
<h2>创建旅游套餐</h2>
<form action="/admin/travelPackagecreate/" method="POST" enctype="multipart/form-data">
    <table border="1"  cellpadding="5" width="100%" bordercolor="#000000">
        <tr>
            <td>
                旅游套餐
            </td>
            <td colspan="2">
                <input type="text" style="width: 100%" name="NAME" PLACEHOLDER="套餐名称" value={{ .post.NAME }}>
            </td>
            <td >
                费用
            </td>
            <td>
                <input type="text" style="width: 100%" name="FEE" PLACEHOLDER="套餐费用" value={{ .post.FEE }}>
            </td>
        </tr>
        <tr>
            <td>
                标签
            </td>
            <td colspan="4">
                <input type="text" style="width: 100%" name="TAGS" placeholder="标签1" value={{ .post.TAGS }}>
            </td>
            <!--<td>-->
                <!--<input type="text" style="width: 100%" name="TAG2" placeholder="tags2">-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="text" style="width: 100%" name="TAG3" placeholder="tags3">-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="text" style="width: 100%" name="TAG4" placeholder="tags4">-->
            <!--</td>-->
        </tr>
        <tr>
            <td rowspan="4">
                亮点
            </td>
            <tr>
            <td colspan="4">
                <input type="text" style="width: 100%" name="HIGHLIGHTS" placeholder="亮点1">
            </td>
            </tr>
            <tr>
            <td colspan="4">
                <!--<input type="text" style="width: 100%" name="HIGHLIGHT2" placeholder="HIGHLIGHT2">-->
            </td>
            </tr>
            <td colspan="4">
                <!--<input type="text" style="width: 100%" name="HIGHLIGHT3" placeholder="HIGHLIGHT3">-->
            </td>
            </tr>
        </tr>
        <tr>
            <td>
                日期
            </td>
            <td colspan="2">
                <input type="date"  name="START_DATE" value={{ .post.START_DATE }}>~<input type="date"  name="END_DATE" value={{ .post.END_DATE }}>
            </td>
            <td>
                <input type="text" name="DAYS" value={{ .post.DAYS }}>
            </td>
            <td>
                天数
            </td>
        </tr>
        <tr>
            <td>
                集合地点
            </td>
            <td colspan="4">
                <input type="text" style="width:100%" name="COLLECTION_ADDRESS" value={{ .post.COLLECTION_ADDRESS }}>
            </td>
        </tr>
        <tr>
            <td>
                包含费用
            </td>
            <td colspan="4">
                <input type="text" style="width:100%" name="FEE_INCLUDE" value={{ .post.FEE_INCLUDE}}>
            </td>
        </tr>
        <tr>
            <td>
                包含不费用
            </td>
            <td colspan="4">
                <input type="text" style="width:100%" name="FEE_NOT_INCLUDE" value={{ .post.FEE_NOT_INCLUDE}}>
            </td>
        </tr>
        <tr>
            <td>
                套餐描述
            </td>
            <td colspan="4">
                <textarea rows="3" style="height: 100%;width: 100%" name="DESCRIPTION" placeholder="请输入套餐描述">{{ .post.DESCRIPTION }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                套餐内容
            </td>
            <td colspan="4">
                <textarea rows="3" style="height: 100%;width: 100%" name="CONTENT" placeholder="请输入套餐的详情">{{ .post.CONTENT }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                旅行建议
            </td>
            <td colspan="4">
                <textarea rows="4" style="height: 100%;width: 100%" name="ADVICE" placeholder="关于此套餐的建议">{{ .post.ADVICE }}</textarea>
            </td>
        </tr>
        <tr>
            <td >
                参团人数
            </td>
            <td align="center" >
                <input type="text" style="width:100%" name="PERSON_NUM" value={{ .post.PERSON_NUM }}>
            </td>
            <td align="center" >
                酒店
            </td>
            <td colspan="2">
                <input type="text" style="width:100%" name="HOTELS" value={{ .post.HOTELS }}>
            </td>
        </tr>
        <tr>
            <td>
                交通
            </td>
            <td align="center" >
                飞机<input type="radio" style="width:100%" name="TRANSPOT" value="Plane" {{if eq .post.TRANSPOT "Plane"}}checked{{end}}>
            </td>
            <td align="center" >
                大巴<input type="radio" style="width:100%" name="TRANSPOT" value="Bus" {{if eq .post.TRANSPOT "Bus"}}checked{{end}}>
            </td>
            <td align="center" >
                坐船<input type="radio" style="width:100%" name="TRANSPOT" value="Ship" {{if eq .post.TRANSPOT "Ship"}}checked{{end}}>
            </td>
            <td align="center" >
                徒步 <input type="radio" style="width:100%" name="TRANSPOT" value="Walk" {{if eq .post.TRANSPOT "Walk"}}checked{{end}}>
            </td>
        </tr>
        <tr>
            <td>
               选择景点
            </td>
            <td >
                <select style="width: 100%" name="VIEW_SPOT_ID" class="form-control input-sm" id="VIEW_SPOT_ID" >
                    {{range .posts}}
                    <option value={{.NAME}}>{{.NAME}}</option>

                    {{end}}
                </select>
            </td>
            <td align="center"> <input type="submit" value="保存" /></td><td align="center"><input type="button" value="取消" onclick="Create()"/><td align="center"><input type="button" value="返回" onclick="home()"/></td>
        </tr>
    </table>
</form>

<script>
    function Create(){
        window.location.replace("/admin/travelPackagecreate/")
    }
    function home(){
        window.location.replace("/")
    }
</script>