
      <!--<header><a href="/admin/viewSpots">Back</a></header>-->
      <br>
      <br>
      <br>
      <br>
      <header></header>
      <h2>Upload</h2>

      <form action="/upload" method="POST" enctype="multipart/form-data">
            version:<input type="text" name="version" id="version" value=""><br><br>
            email:<input type="text" name="user_email" id="user_email" value=""><br><br>
            key:<input type="text" name="user_private_key" id="user_private_key" value=""><br><br>
            host:<input type="text" name="file_host" id="file_host" value=""><br><br>
            album image:<input type="file" name="file_album" id="file_album" multiple="multiple"><br><br>
            name:<input type="text" name="file_name" id="file_name" value=""><br><br>
            mime:<input type="text" name="file_mime" id="file_mime" value=""><br><br>
            <input type="submit" value="Upload"/>
      </form>
      <br>
      <br>
      <br>
      <br>
