<!--<ul class="top-destinations">-->
<!--<li class="col-sm-6 col-md-3 top-destination">-->
<!--<a class="image-box attractions-image-box image-box-v2" href="/spot/1111">-->
<!--<figure class="image-box-figure">-->
<!--<img class="image-box-picture" src="/uploads/source/c05c845c-c672-4d01-976b-6ced8646b44f_s.png" alt="艾菲尔铁塔"-->
<!--onerror="this.parentNode.parentNode.className+=' missing-image'"/>-->
<!--<figcaption class="image-box-caption">-->
<!--<div class="image-box-label">-->
<!--<div class="image-box-label-title">艾菲尔铁塔</div>-->
<!--</div>-->
<!--</figcaption>-->
<!--</figure>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->

<!--<table border="1"  cellpadding="5" width="100%" bordercolor="#000000">-->
    <!--<thead bgcolor="#ffffcc">-->
    <!--<tr align="center">-->
        <!--<th>景点名称</th><th>国家</th><th>省(直辖市)</th><th>市</th><th>景点等级</th><th>景点分类</th><th>价格</th><th>景点状态</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--{{range .posts}}-->
    <!--<tr>-->

        <!--<td><div align="left">{{ .imagename }}</div></td>-->
        <!--<td><div align="left">{{ .imagepath }}</div></td>-->
        <!--<td><div align="left">{{ .imageformat }}</div></td>-->
        <!--<td><div align="left">{{ .name }}</div></td>-->

    <!--</tr>-->
    <!--{{end}}-->
<!--</table>-->
