
      <!--<header><a href="/admin/viewSpots">Back</a></header>-->
      <br>
      <br>
      <br>
      <br>
      <header></header>
      <h2>Upload</h2>

      <form action="/upload" method="POST" enctype="multipart/form-data">
            COUNTRY:<input type="text" name="COUNTRY" id="COUNTRY" value="1"><br><br>
            PROVINCE:<input type="text" name="PROVINCE" id="PROVINCE" value="2"><br><br>
            CITY:<input type="text" name="CITY" id="CITY" value="3"><br><br>
            COUNTY:<input type="text" name="COUNTY" id="COUNTY" value="4"><br><br>
            NAME:<input type="text" name="NAME" id="NAME" value="5"><br><br>
            LEVEL:<input type="text" name="LEVEL" id="LEVEL" value="6"><br><br>
            GRADE:<input type="text" name="GRADE" id="GRADE" value="6"><br><br>
            LABEL:<input type="text" name="LABEL" id="LABEL" value="8"><br><br>
            PRICE:<input type="text" name="PRICE" id="PRICE" value="9"><br><br>
            STATUS:<input type="text" name="STATUS" id="STATUS" value="10"><br><br>
            IMAGE_NAME:<input type="file" name="IMAGE" id="IMAGE" multiple="multiple"><br><br>
            <input type="submit" value="Upload"/>
      </form>
      <br>
      <br>
      <br>
      <br>
