<header></header>
<br>

	<!--{{range .posts}}-->
	<!--<h3><a href="/{{ .ID }}">{{ .ID }} {{ .NAME }}</a></h3>-->
	<!--<div>{{ .COUNTRY }}</div>-->
	<!--{{end}}-->


<br>
<br>
<br>
<br>


<table border="1"  cellpadding="5" width="100%" bordercolor="#000000">
    <thead bgcolor="#ffffcc">
    <tr align="center">
       <th>景点名称</th><th>国家</th><th>省(直辖市)</th><th>市</th><th>景点等级</th><th>景点分类</th><th>价格</th><th>景点状态</th>
    </tr>
    </thead>
    {{range .posts}}
    <tr>
        <td><div align="left"><a href="/admin/viewSpots/{{ .ID }}">{{ .NAME }} </a></div></td>
        <td><div align="left">{{ .COUNTRY }}</div></td>
        <td><div align="left">{{ .PROVINCE }}</div></td>
        <td><div align="left">{{ .CITY }}</div></td>
        <td><div align="left">{{ .LEVEL }}</div></td>
        <td><div align="left">{{ .LABEL }}</div></td>
        <td><div align="left">{{ .PRICE }}</div></td>
        <td><div align="left">{{ .STATUS }}</div></td>

    </tr>
    {{end}}
</table>
<br>
<br>
<br>
<form >
    <input type="button" value="Active" onclick="Active()"/>
    <input type="button" value="Disable" onclick="Disable()"/>
    <input type="button" value="Delete" onclick="Delete()"/>
    <input type="button" value="Create" onclick="Create()"/>
</form>

<script>
function Active(){
    window.location.replace("/active")
}
function Disable(){
    window.location.replace("/disable")
}
function Delete(){
    window.location.replace("/delete")
}
function Create(){
    window.location.replace("/admin/spots/create/")
}
</script>
